/*font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap'); 

/*reset*/
* {margin:0; padding: 0;} 
lr{list-style: ni=one;}
a {color:inherit; text-decoration: none;}

/* header*/
body {font-family:'Nanum Gothic', font-size:16px; color:#333; line-height:1.25;}
header {width:100%; height:90px; background:#fff; box-shadow:0 4px 10px rgba(0,0,0,0.1);
 position:relative;}
.innerHeader .util ul { width: 218px; height: 100%; float: left; line-height:90px; margin-left: 2%; 
.innerHeader .util ul li {float: left; padding: 0 15px;}
.innerHeader .logo {width: 270px; line-height: 90px; position: absolute; left: 50%; transform: translateX(-50%);}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}

/*section main1*/
.main {width: 100%; height: auto; background-image: url(../img/Coding_image.jpg); background-size: cover; background-position:center; background-repeat: no-repeat; position: relative;}
.main .inner {width: 1400px; height: 800px;margin: 0 auto;  position: relative; }
.main .inner .maintitle {width: 653px; height: auto; }
.main .inner .maintitle h2{ position: absolute; top: 30%; left: 0; font-size: 50px; line-height: 1.3;  font-color:#FFFFFF;}
.main .inner .maintitle p {position: absolute; left: 0; top:47%; font-size: 19px;  line-height: 1.6;}
.main .inner .maintitle .more {position: absolute; left: 0; top:63%; display: inline-block; padding: 15px 25px; font-size: 18px; color: font-color:green; background: #000; }

/*section main2*/
.maintwo {width: 1400px; margin: 0 auto; color: #333; margin-top: 100px;}
.maintwo h2{ text-align:center;font-size: 40px; font-weight: bold; margin-bottom: 50px;}
.maintwo h2 .colortext { color: #f57260;}
.maintwo ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;}
.maintwo ul li {float: left; width: 32.2%; margin-right: 1.7%; margin-bottom: 80px; background: #c5cdbe;}
.maintwo ul li:nth-child(2){background: #e59b90;}
.maintwo ul li:nth-child(3){margin-right: 0; background: #dfcfc0;}
.maintwo ul li a {display: block; width: 100%; height: 100%; padding: 50px 0 50px 30px;  box-sizing: border-box; position: relative; overflow: hidden; text-align: left;}
.maintwo ul li p {font-size: 19px; margin-bottom: 30px;}
.maintwo ul li h3 {font-size: 26px; margin-bottom: 70px;}
.maintwo ul li p.img {width: 380px;height: 250px; margin-right: 0; float: right; overflow: hidden;}
.maintwo ul li p.img img {width: 100%; transition: all 0.3s;}
.maintwo ul li a:after {content: ''; position: absolute; top:60px;right: 0; width:63%; height: 2px; background: rgba(237,237,233,0.42);}

/*section news*/
.news {width: 1400px; height: auto; margin: 0 auto; overflow: hidden;}
.news .issue {margin-top: 50px; width: 49.25%; height: 280px; float: left; background-image: url(../img/img_08.jpg);background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 1.5%;}
.news .issue:nth-child(2) {margin-right: 0;background-image: url(../img/img_09.jpg);}
.news .issue h2{margin-top: 10%; margin-left: 10%; }
.news .issue p {font-size: 15px; color: #333; margin-top: 20px; margin-left: 10%;}
.news .issue p .num {font-size: 14px; padding: 3px 7px; background:#7f8c97; border-radius: 50%; }
