/*font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap'); 

/*reset*/
* {margin: 0; padding: 0;}
li{list-style: none;}
a {color: inherit; text-decoration: none;}

/* header*/
body {font-family:'Nanum Gothic', font-size:16px; color:#333; line-height:1.25;}
header {width:100%; height:90px; background:#fff; box-shadow:0 4px 10px rgba(0,0,0,0.1);
 position:relative;}
.innerHeader .util ul { width: 240px; height: 100%; float: left; line-height:90px; margin-left: 2%; }
.innerHeader .util ul li {float: left; padding: 0 15px;}
.innerHeader .logo {width: 270px; line-height: 90px; position: absolute; left: 50%; transform: translateX(-50%);}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}

/*section main1*/
.main {width: 100%; height: auto; background-image: url(../img/Coding_image.jpg); background-size: cover; background-position:center; background-repeat: no-repeat; position: relative; font-color:#FFFFFF}
.main .inner {width: 1400px; height: 800px;margin: 0 auto;  position: relative;}
.main .inner .maintitle {width: 653px; height: auto; }
.main .inner .maintitle h2{ position: absolute; top: 30%; left: 0; font-size: 50px; line-height: 1.3; color: black;}
.main .inner .maintitle p {position: absolute; left: 0; top:47%; font-size: 19px;; line-height: 1.6; color: #fff;}
.main .inner .maintitle .more {position: absolute; left: 0; top:63%; display: inline-block; padding: 15px 25px; font-size: 18px; color: #fff; background: #000; }

/*section main2*/
.maintwo {width: 1400px; margin: 0 auto; color: #333; margin-top: 100px;}
.maintwo h2{ text-align:center;font-size: 40px; font-weight: bold; margin-bottom: 50px;}
.maintwo h2 .colortext { color: #f57260;}
.maintwo ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;}
.maintwo ul li {float: left; width: 32.2%; margin-right: 1.7%; margin-bottom: 80px; background:#74b9ff;}
.maintwo ul li:nth-child(2){background:#a29bfe;}
.maintwo ul li:nth-child(3){margin-right: 0; background: #fab1a0;}
.maintwo ul li a {display: block; width: 100%; height: 100%; padding: 50px 0 50px 30px;  box-sizing: border-box; position: relative; overflow: hidden; text-align: left;}
.maintwo ul li p {font-size: 19px; margin-bottom: 30px;}
.maintwo ul li h3 {font-size: 26px; margin-bottom: 70px;}
.maintwo ul li p.img {width: 380px;height: 250px; margin-right: 0; float: right; overflow: hidden;}

.maintwo ul li p.img img {width: 100%; transition: all 0.3s;}
.maintwo ul li a:after {content: ''; position: absolute; top:60px;right: 0; width:63%; height: 2px; background: rgba(237,237,233,0.42);}
.maintwo ul li:nth-child(2) a:after{width:60%;}
.maintwo ul li:nth-child(3) a:after{width:43%;}
.maintwo ul li a:hover .img img {
    transform: scale(1.2); transition: all 1s;
}
.other{font-size:10px;}


/*section news*/
.news {width: 1400px; height: auto; margin: 0 auto; overflow: hidden;}
.news .issue {margin-top: 50px; width: 49.25%; height: 280px; float: left; background-image: url(../img/img1.jpg);background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 1.5%;}
.news .issue:nth-child(2) {margin-right: 0;background-image: url(../img/img2.jpg);}
.news .issue h2{margin-top: 10%; margin-left: 10%; }
.news .issue p {font-size: 15px; color: #333; margin-top: 20px; margin-left: 10%;}


/*footer*/
footer {width: 100%; height: auto; background: #454545; color: #adadad; overflow: hidden;}
footer .address{width: 1400px; margin: 0 auto; line-height: 1.7;}
footer .address p {float: left; margin: 50px; text-align:center;}
footer .address .flogo {float: right; padding-top: 30px; }


/*top button*/
.top {float: right; margin-right: 30px; margin-bottom: 30px; width: 80px; height: 80px; background: #454545; border-radius: 50%;  background-position: top; position: relative;} 
.top a{display: block; width:100%; height: 100%; }
.top p{ font-size: 16px; font-weight: bold; color: #fff; position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}